.list > h1 {
    font-size: 30pt;
    margin: 15px auto 0px auto;
}

.list > ul > li h2 {
    margin: 0px;
}

.list > ul > li p {
    margin: 5px 0px 0px 0px;
    font-size: 14pt;
}

.list label {
    cursor: pointer;
    color: rgb(0, 140, 165);
    text-decoration: underline;
    visibility: hidden;
    font-size: 14pt;
}

.list label:before {
    visibility: visible;
    content: "Click here to see details.";
    padding: 10px;
}

.list input {
    display: none;
}

.plugin-desc {
    background-color: rgb(197, 197, 197);
    z-index: 1;
    display: none;
    padding: 10px;
    position: absolute;
    top: -1px;
    width: 150%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    overflow-x: hidden;
    border: solid 1px rgba(0, 0, 0, 0.233);
}

.plugin-desc ul {
    list-style-type: disc;
    padding: 0;
}

.plugin-desc li {
    text-align: left;
    margin-left: 10px;
    font-size: 14pt;
}

.plugin-desc img {
    width: 100%;
    height: 100%;
}

.plugin-desc p {
    text-align: left;
}

/* Free */
/* WLib */
#wlib input:checked ~ .plugin-desc {
    display: inline;
}

#wlib input:checked ~ .plugin-desc label:before {
    content: "Click here to close details.";
}

/* WPunishments */
#wpunishments input:checked ~ .plugin-desc {
    display: inline;
}

#wpunishments input:checked ~ .plugin-desc label:before {
    content: "Click here to close details.";
}

/* WTags */
#wtags input:checked ~ .plugin-desc {
    display: inline;
}

#wtags input:checked ~ .plugin-desc label:before {
    content: "Click here to close details.";
}

/* NoSee */
#nosee input:checked ~ .plugin-desc {
    display: inline;
}

#nosee input:checked ~ .plugin-desc label:before {
    content: "Click here to close details.";
}

/* Paid */
/* SkyPlotMines */
#skyplotmines input:checked ~ .plugin-desc {
    display: inline;
}

#skyplotmines input:checked ~ .plugin-desc label:before {
    content: "Click here to close details.";
}

/* SkyPickaxes */
#skypickaxes input:checked ~ .plugin-desc {
    display: inline;
}

#skypickaxes input:checked ~ .plugin-desc label:before {
    content: "Click here to close details.";
}

/* SkyTokens */
#skytokens input:checked ~ .plugin-desc {
    display: inline;
}

#skytokens input:checked ~ .plugin-desc label:before {
    content: "Click here to close details.";
}

@media screen and (max-width: 750px) {
    .list > ul > li > .plugin-desc {
        width: 100%;
    }
}