@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-color: #05090F;
    font-family: 'Quicksand';
    color: #fff;
    margin: 0;
    text-align: center;
}

header {
    position: sticky;
    top: 10px;
    z-index: 1;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-weight: 700;
    font-size: 33pt;
}

h2 {
    margin: 0;
    font-weight: 600;
    font-size: 28pt;
}

h3 {
    margin: 0;
    font-weight: 500;
    font-size: 23pt;
}

h4 {
    margin: 0;
    font-weight: 500;
    font-size: 21pt;
}

h5 {
    margin: 0;
    font-weight: 500;
    font-size: 19pt;
}

p {
    font-size: 20pt;
    font-weight: 300;
    margin: 0;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 17pt;
}

header > menu {
    height: 60px;
    border-radius: 7px;
    background-color: #5f83c6c9;
}

menu li a {
    background-color: #2B5AB3;
    transition: all 0.3s;
    padding: 10px;
    display: inline-block;
}

menu li a:hover {
    background-color: #5077C0;
}

.sub-menu menu {
    display: none;
}

.sub-menu:hover menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-left: -38px;
}

.sub-menu menu li a {
    display: inline-block;
    width: 150px;
}

a {
    color: #cce4ff;
}

.list {
    list-style-type: none;
    flex-direction: row;
    padding: 40px;
    background-color: #14284D;
    border-radius: 15px;
}

.list > li {
    background-color: #22468A;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 30%;

    transition: top 0.2s, box-shadow 0.6s, background-color 0.4s;

    position: relative;
    top: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list > li:hover {
    top: -10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    background-color: #2B5AB3;
}

footer {
    border-top: 1px solid rgba(255, 255, 255, 0.658);
    font-size: 17pt;
    padding-top: 10px;
}

@media screen and (max-width: 700px) {

    .list {
        flex-direction: column;
    }

    .list li {
        width: 100%;
    }
}