@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #05090F;
    font-family: 'Red Hat Display';
    color: #fff;
    margin: 0;
    text-align: center;
}

header {
    position: sticky;
    top: 10px;
    z-index: 1;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-weight: 700;
    font-size: 33pt;
}

h2 {
    margin: 0;
    font-weight: 600;
    font-size: 28pt;
}

h3 {
    margin: 0;
    font-weight: 500;
    font-size: 23pt;
}

h4 {
    margin: 0;
    font-weight: 500;
    font-size: 21pt;
}

h5 {
    margin: 0;
    font-weight: 500;
    font-size: 19pt;
}

h6 {
    margin: 0;
    font-weight: 400;
    font-size: 17pt;
}

p {
    font-size: 20pt;
    font-weight: 300;
    margin: 0;
}

menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 17pt;
}

header > menu {
    height: 60px;
    border-radius: 7px;
    background-color: #5f83c6c9;
}

menu li a {
    background-color: #2B5AB3;
    transition: all 0.3s;
    padding: 10px;
    display: inline-block;
}

menu li a:hover {
    background-color: #5077C0;
}

a {
    color: #cce4ff;
}

footer {
    border-top: 1px solid rgba(255, 255, 255, 0.658);
    font-size: 17pt;
    padding-top: 10px;
}