.warranties {
    justify-content: space-between;
    flex-direction: column;
    flex-flow: wrap;
    width: 46%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.warranties li {
    width: 40%;
}

@media screen and (max-width: 900px) {
    .warranties li {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {

    .warranties {
        width: 90%;
    }

    .warranties li {
        width: 60%;
    }
}