.plugins {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.plugins > li:hover {
    top: 0;
}

.plugins img {
    width: 100%;
    height: 100%;
}

.plugins button {
    background-color: #4575cc;
    border: none;
    padding: 7px 19px;
    border-radius: 3px;
    margin: 5px;
    color: black;
    font-weight: 900;
    transition: all 0.3s;
}

.plugins button:hover {
    background-color: #578ae9;
    border-radius: 6px;
}

.plugin li {
    min-width: 600px;
}

.plugins li li {
    font-size: 15pt;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.plugins li figure {
    margin-top: 10px;
}

.plugins h6 {
    margin-bottom: 10px;
}

.versions {
    margin-top: 10px;
    margin-bottom: 20px;
}

.versions p {
    font-size: 13pt;
}

.text {
    font-size: 15pt;
    text-align: left;
}

.content {
    margin: 10px 0px 10px 0px;
    padding: 0;
    list-style-type: none;
}

.content li {
    font-size: 15pt;
    text-align: left;
}

.images {
    padding: 0;
    list-style-type: none;
}

.images li {
    margin: 5px;
}

.videos {
    padding: 0;
    list-style-type: none;
}

.videos li {
    margin: 5px;
}

.videos iframe {
    border: 0;
}